{% extends 'posts/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
<div class="mx-auto" style="width: 300px; margin: 0 auto;">
      <form method="POST">
      <a href="{% url 'detail' post.id %}" class="btn btn-primary">Back to Post</a>
          <br>
          <br>
          <h1>Are you sure you want to delete post?</h1>
          {% csrf_token %}
      <button class="btn btn-danger">Delete post</button>
          </form>
</div>
    {% endif %}
{% endif %}
{% endblock %}