{% extends 'posts/base.html' %}

{% block content %}
<div class="mx-auto" style="width: 300px;">
<h1>{{ post.title }}<br><br>
    author: {{ post.author }}</h1>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.id %}" class="btn btn-primary">Update post</a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-primary">Delete post</a><br>
        {% endif %}
    {% endif %}

    {{ post.body }}
<br><br>
<a href="{% url 'home' %}" class="btn btn-primary">Back to home page</a>
    </div>
<br><br>
<form action="{% url 'like_post' post.pk %}" method="post">
      {% csrf_token %}
    {% if user.is_authenticated%}
    {% if liked %}
    <form method="POST" action="{% url 'like_post' post.id %}">
  {% csrf_token %}
  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">
    <i class="fa fa-thumbs-down"></i> Unlike
  </button>
</form>
    {% else %}
    <form method="POST" action="{% url 'like_post' post.id %}">
  {% csrf_token %}
  <button type="submit" name="post_id", value="{{ post.id }}" class="btn btn-primary">
    <i class="fa fa-thumbs-o-up"></i> Like
  </button>
</form>
    {% endif %}
    {% endif %}
</form>
<form action="{% url 'favourite_post' post.pk %}" method="post">
      {% csrf_token %}
    {% if user.is_authenticated%}
    {% if favourite %}
    <button type="submit" name="post_id", value="{{ post.id }}" class="btn btn-primary">
    <i class="fa fa-star-o"></i> Remove from favourite
  </button>
    {% else %}
    <button type="submit" name="post_id", value="{{ post.id }}" class="btn btn-primary">
    <i class="fa fa-star"></i> Add to favorite
  </button>
    {% endif %}
    {% endif %}
</form>
<br>
<h1> Total likes: {{ total_likes }}</h1>
{% endblock %}