{% extends 'posts/base.html' %}

{% block content %}
<div class="mx-auto" style="width: 300px; margin: 0 auto;">
<h1>{{ post.title }}<br><br>
    author: {{ post.author }}</h1>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.id %}" class="btn btn-primary">Update post</a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-primary">Delete post</a><br>
        {% endif %}
    {% endif %}
<br>
    <div style="border: 1px solid #000; padding: 10px; margin-bottom: 10px; word-wrap: break-word;">
        {{ post.body }}
    </div>
<br><br>
<br><br>
<form action="{% url 'like_post' post.pk %}" method="post">
      {% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked %}
    <form method="POST" action="{% url 'like_post' post.id %}">
  {% csrf_token %}
  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">
    <i class="fa fa-thumbs-down"></i> Unlike
  </button>
</form>
    <br>
    {% else %}
    <form method="POST" action="{% url 'like_post' post.id %}">
  {% csrf_token %}
  <button type="submit" name="post_id", value="{{ post.id }}" class="btn btn-primary">
    <i class="fa fa-thumbs-o-up"></i> Like
  </button>
</form>
    <br>
    {% endif %}
    {% endif %}
</form>
<form action="{% url 'favourite_post' post.pk %}" method="post">
      {% csrf_token %}
    {% if user.is_authenticated %}
    {% if favourite %}
    <button type="submit" name="post_id", value="{{ post.id }}" class="btn btn-primary">
    <i class="fa fa-star-o"></i> Remove from favourite
  </button>
    {% else %}
    <button type="submit" name="post_id", value="{{ post.id }}" class="btn btn-primary">
    <i class="fa fa-star"></i> Add to favorite
  </button>
    {% endif %}
    {% endif %}
</form>
    <br>
    {% for comment in post.comments.all %}
    {% if comment.is_published %}
        <div style="border: 1px solid #000; padding: 10px; margin-bottom: 10px;">
            <p>Posted by: {{ comment.author.username }}</p>
            <p>{{ comment.text }}</p>
            <p>Posted on: {{ comment.created_on }}</p>
            {% for reply in comment.replies.all %}
                <div class="reply-frame" style="margin-left: 20px; border: 1px solid #000; padding: 10px;">
                    <p>Replied by: {{ reply.author.username }}</p>
                    <p>{{ reply.text }}</p>
                    <p>Replied on: {{ reply.created_on }}</p>
                </div>
            <br>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
    <a href="{% url 'home' %}" class="btn btn-primary">Back to home page</a>
    <h1> Total likes: {{ total_likes }}</h1>
</div>
<br>
{% endblock %}